{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<!-- Hero Start -->
        <section class="bg-home2 position-relative" id="home">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="home-content">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="pe-lg-5">
                                        <h1 class="text-white mb-4">Soluciones informáticas integrales: desarrollo de software a medida</h1>
                                        <p class="text-white-50 fs-17 mb-4" style="text-align: justify">
                                            Nuestra empresa de desarrollo de software ofrece servicios de
                                            desarrollo personalizado para adaptarse a las necesidades únicas
                                            de su negocio. Nuestro equipo de expertos en desarrollo de software
                                            utiliza las últimas tecnologías para crear soluciones potentes y
                                            eficientes. ¡Contáctenos hoy mismo para obtener más información!
                                        </p>

                                        <a href="#contact" class="btn btn-light mt-2">Contacto</a>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="text-center mt-5 mt-lg-0">
                                        <img src="{% static 'images/home/home-2.png' %}" alt="Home" class="img-fluid">
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                    <!--end container-->
                </div>
            </div>
            <div class="position-absolute bottom-0 start-0">
                <img src="{% static 'images/home/home2-shape.png' %}" alt="" class="img-fluid">
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                <div class="modal-content home-modal">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <video id="VisaChipCardVideo" class="video-box" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
        <!-- Hero End -->

        <!-- Service Start -->
        {% include "servicios.html" %}
        <!-- END SERVICE -->

        <!-- START ABOUT -->
        <section class="section bg-light" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="mt-4 mt-lg-0">
                            <h6 class="text-uppercase mb-3">Quienes somos</h6>

                            <p class="text-muted mb-3" style="text-align: justify">
                                Somos una empresa de desarrollo de software especializada en la
                                creación de soluciones innovadoras y personalizadas para nuestros
                                clientes. Contamos con un equipo de profesionales altamente cualificados
                                y con amplia experiencia en el sector de la tecnología y el desarrollo de
                                software. Nuestro objetivo es ayudar a nuestros clientes a mejorar su
                                eficiencia y productividad a través de la implementación de soluciones
                                tecnológicas adaptadas a sus necesidades específicas. Ofrecemos una amplia
                                gama de servicios de desarrollo de software, incluyendo diseño y desarrollo
                                de aplicaciones móviles, desarrollo de aplicaciones web, integración de
                                sistemas y soluciones de bases de datos. Nos esforzamos por mantener una
                                relación cercana y de confianza con nuestros clientes y por proporcionar
                                un servicio de alta calidad y respuesta rápida a sus necesidades.
                            </p>
                            <!-- <p class="text-muted">Xegal is made with high-quality components and 62 pre-made pages. Each element can be modified and changed with only a few clicks.</p> -->


                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mt-4 mt-lg-0">
                            <img src="{% static 'images/about.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>


                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END ABOUT -->






        <!-- team start -->

        <!-- team end -->


        <!-- START BLOG -->
        {% include "portafolio.html" %}
        <!-- END BLOG -->


        <!-- START CONTACT -->
        {% include "contactos.html" %}
        <!-- END CONTACT -->





        <!-- START FOOTER -->


{% endblock %}